{% extends 'base.html.twig' %}

{% block page_title %}{{ title }}{% endblock %}
{% block page_actions %}
    <a href="{{ path('speciality_list') }}" class="btn btn-default">
        <i class="fas fa-arrow-left"></i> Back to list
    </a>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 