{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'LHG Payroll'|trans }}{% endblock %} 

{% block main %}

    {% block content %} 
        <p>Total Hours: {{ payrollData.total_hours }}</p>
        <p>Total Earnings: {{ payrollData.total_earnings }}</p>
    {% endblock %}

{% endblock %}  
